html{
    min-height:100%;
    height:100%; 
}
html.sidebar-active {
    height: 100%;
    overflow-x: hidden;
    margin:0;
    padding:0;
}
body{
    min-height: 100%;
    margin:0;
    padding-top:12vh;
 }
 .container-fluid{
    position: relative;
 }
 .myTogglerButton{
    position: absolute;
    top:1vh;
    right:3vh;
    height:8vh;
    width:10vh;
    padding:0;
    margin:0;
 }
.myNavbar{
    height:10%;
    background-color: saddlebrown;
    margin-top:0;
}
.navbar-right{
    background-color:darkturquoise;
    margin-top:1%;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}
.main{
    margin-left:5vw;
    width:90vw;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    background-color:white;
    height:100vh;
    overflow-y:scroll;
}
#myNavbarBrand{
    font-size:5vh;
    text-indent:40px;
}
#mySearchBar{
    float:right;
}
.mySearchButton {
    float: left;
    border-left:none;
    border-top:none;
    padding:7px;
    background:grey;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 6px;
}
.mySearchButton:hover {
    background: #0b7dda;
}
.side-collapse-right {
    background-color: #A4D7E1;
    top:11vh;
    bottom:0;
    right:0;
    height:80%;
    width:20%;
    position:fixed;
    overflow:hidden;
    transition:width .4s;
}
.side-collapse-right.in {
    width:0;
}
div.container.main{
    margin-top:0;
}
.labelbar{
    margin-left:5vw;
    width:90vw;
}
.label{
    border-bottom:none;
    margin-top:0;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    width:15%;
    height:40px;
    outline:none;
}
.myChatButton{
    top:200px;
    position:fixed;
    z-index:100;
}
.myChat{
    height:70vh;
}
.modal-xl{
    width: 10%;
}
#chatHeader{
    border-bottom:1px solid;
    text-align:center;
    background-color:gray;
}
div.modal-body{
    height:70vh;
    padding:0;
}
/*time bar*/
.schadualBar{
    width:100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #555;
    height:30vh;
}
.schadualBar::-webkit-scrollbar{
}
.schadual{
    display: inline-block;
    width: 60vw;
    height:30vh;
    margin-top:0;
    position: relative;
    background-color: bisque;
}
.timeBar{
    position: absolute;
    bottom:0px;
    width:100%;
    height:20px;
    text-align: center;
}
.time{
    border: 1px dashed;
    height: 100%;
    width: 50%;
    float: left;
}
.dash{
    width:25%;
    height: 100%;
    float: left;
    overflow: hidden;
}


/* width */
#textArea::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#textArea::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
#textArea::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
#textArea::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


@media(max-width: 980px){
    div.modal-content{
        position:fixed;
        top:20vh;
        left:10vw;
        height:60vh;
        width:80vw;
    }
    .myChat{
        height:55vh;
    }
    .schadual{
        height:5vh;
        background-color: aqua;
        margin-top:0;
        position: relative;
    }
}
/* not use yet
.side-collapse-container-right{
    position:relative;
    right:0;
    transition:right .4s;
}
.side-collapse-container-right.out{
    right:70%;
}
*/
