html{
    min-height:100%;
    height:100%; 
}
html.sidebar-active {
    height: 100%;
    overflow-x: hidden;
    margin:0;
    padding:0;
}
body{
    min-height: 100%;
    margin:0;
    padding-top:6vh;
 }
 .modal-body.loginBody{
    position: relative;
    width: 90%;
    left: 5%;
    height: 23vh;
    overflow: auto;
 }
 div.modal-header{
    text-align: center;
 }
 .loginState{
    position: absolute;
    right: 8vw;
    bottom: 1vh;
 }
 #logoutBtn{
    position: absolute;
    right: 1vw;
    bottom: 1vh;
 }
 .loginModal{
    position: absolute;
    top: 20vh;
 }
 #googleLoginImg{
    position: absolute;
    left: 5%;
 }
 .container-fluid{
    position: relative;
 }
 .myTogglerButton{
    position: absolute;
    top:1vh;
    right:1vw;
    height:8vh;
    width:4.5vw;
    padding:0;
    margin:0;
 }
.myNavbar{
    height:10%;
    background-color: saddlebrown;
    margin-top:0;
}
.navbar-right{
    background-color:darkturquoise;
    margin-top:1%;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}
.main{
    margin-left:5vw;
    width:90vw;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    background-color:white;
    height:100vh;
    overflow-y:scroll;
}
#myNavbarBrand{
    font-size:5vh;
    text-indent:40px;
}
#mySearchBar{
    float:right;
}
.mySearchButton {
    float: left;
    border-left:none;
    border-top:none;
    padding:7px;
    background:grey;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 6px;
}
.mySearchButton:hover {
    background: #0b7dda;
}
.side-collapse-right {
    background-color: #A4D7E1;
    top:11vh;
    bottom:0;
    right:0;
    height:80%;
    width:20%;
    position:fixed;
    overflow:hidden;
    transition:width .4s;
}
.side-collapse-right.in {
    width:0;
}
div.container.main{
    margin-top:0;
}
.labelbar{
    margin-left:5vw;
    width:90vw;
}
.label{
    border-bottom:none;
    margin-top:0;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    width:15%;
    height:40px;
    outline:none;
}
.myChatButton{
    left: 20px;
    top: 5vh;
    position: relative;;
    z-index:999;
}
.myChat{
    height:70vh;
}
.modal-xl{
    width: 10%;
}
#chatHeader{
    border-bottom:1px solid;
    text-align:center;
    background-color:gray;
}
div.modal-body{
    height:70vh;
    padding:0;
}
/*time bar*/
.schadualBar{
    width:100%;
    position: relative;
    top: 20;
    background-color: #555;
    height:40vh;
}
.enableScrollBar{
    overflow-x: scroll;
}
.disableScrollBar{
    overflow-y: visible;
}
.schadualBar::-webkit-scrollbar {
    display: none;
}
.schadualContainer{
    position: absolute;
    display: inline-block;
    width: 10vw;
}
.card{
    width:10vw;
    overflow-y: visible;
}
.card-header{
    width:100%;
    height:5vh;
    overflow-y: visible;
}
.postTitle{
    width:100%;
    height:100%;
    word-break: break-all;/*必須*/
    word-wrap:break-all;
    overflow: hidden;
}
.postContent{
    height:25vh;
}
.postFooter{
    height: 5vh;
    padding: 2px;
}
.footBorder{
    border-top: solid;
    border-color:#DCDCDC;
    position: relative;
    left: 5%;
    width: 90%;
    height: 100%;
}
.leavemessageBtn{
    height: 80%;
    width: 40%;
    position: relative;
    top: 10%;
    left: 3%;
    display: inline-block;
    border-radius: 10px;
    text-align:center;
    color: gray;
    vertical-align: middle;
    line-height: 35px;
}
div.press{
    height: 80%;
    width: 40%;
    display: inline-block;
    position: relative;
    top: 10%;
    left: 14%;
    border-radius: 10px;
    text-align:center;
    color: gray;
    vertical-align: middle;
    line-height: 35px;
}
.postMessage{
    width: 100%;
    height: 20vh;
    display: none;
    position: relative;
    border-top: solid;
    border-width: 0.1px;
    border-color:#DCDCDC;
}
.leavemessageImg{
    position: absolute;
    bottom: 0px;
    width: 20%;
    left: 0;
    display: inline-block;
}
.leavemessageInput{
    position: absolute;
    bottom: 0px;
    left: 20%;
    width: 80%;
    display: inline-block;
}


/* scroll bar*/
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.myClassroom{
    position: relative;
    height: 100%;
    width: 100%;
    display: none;
}
.theirVideo{
    position: relative;
    display: none;
    top: 10vh;
    left: 25%;
}
#breaktimeImg{
    position: relative;
    top: 10vh;
    left: 25%;
    border-radius: 10px;
    border: 2px solid;
}
.classBtn{
    position: relative;
    top: 50%;
}
.theirVideo::-webkit-media-controls-play-button{
    display: none;
}
.theirVideo::-webkit-media-controls-picture-in-picture-button{
    display: block;
}
.theirVideo:focus{
    outline: none;
}

@media(max-width: 980px){
    div.modal-content{
        position:fixed;
        top:20vh;
        left:10vw;
        height:60vh;
        width:80vw;
    }
    .myChat{
        height:55vh;
    }
    .schadual{
        height:100%;
        background-color: bisque;
        margin-top:0;
        position: relative;
    }
}
/* not use yet
.side-collapse-container-right{
    position:relative;
    right:0;
    transition:right .4s;
}
.side-collapse-container-right.out{
    right:70%;
}
*/
